<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.zeeshan.zammediaplayer">
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.WAKE_LOCK"/>
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS"/>
    <uses-permission android:name="android.permission.MEDIA_CONTENT_CONTROL"/>
    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <service android:name=".SongBackGroundService"
            android:enabled="true" />
        <receiver android:name=".SongBackGroundService$NotificationCloseButtonHandler"/>
        <receiver android:name=".SongBackGroundService$NotificationNextButtonHandler"/>
        <receiver android:name=".SongBackGroundService$NotificationPlayButtonHandler"/>
        <receiver android:name=".SongBackGroundService$NotificationPreviousButtonHandler"/>
        <receiver android:name=".HeadphoneButtonBroadCaster">
            <intent-filter android:priority="1000000000" >
                <action android:name="android.intent.action.MEDIA_BUTTON" />
            </intent-filter>
        </receiver>

    </application>

</manifest>